html {
  font-size: 10px;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.welcomeText {
  background-color: rgba(0,0,0,0.4);
  width: 30vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  color: white;
}

#name {
  margin-bottom: 0;
  margin-top: 65vh;
  color: powderblue;
  padding: 10px;
  border-radius: 10px;
  font-size: 2.7vw;
}

#intro {
  margin-top: 0;
  font-size: 2vw;
  padding: 10px;
}

@keyframes goDown {
  from {padding-top: 0;}
  to {padding-top: 50px;}
}

#downButton {
  position: absolute;
  bottom: 0;
  right: 10%;
  margin-left: 10px;
  width: 70px;
  height: 70px;
  color: black;
  background-color: powderblue;
  text-align: center;
  animation-name: goDown;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
  border: 2px rgba(0,0,0,0.4);
}

#navBar {
  list-style-type: none;
  width: 100vw;
  margin: 10px 0;
  padding-left: 50px;
  overflow: hidden;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

#navBar li {
  float: left;
}

#navBar li a {
  display: block;
  padding: 12px;
  padding-top: 25px;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  height: 80px;
}

#navBar li a:hover {
  background-color: powderblue;
  color: black;
}

#about {
  padding-top: 60px;
}

#row {
  margin-top: 60px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.column1 {
  width: 20vw;
  flex: 20%;
  max-width: 20%;
  z-index: -1;
}

.column2 {
  flex: 60%;
  max-width: 60%;
  font-size: 3rem;
  text-align: center;
  color: white;
  position: relative;
  padding: 20px 20px 40px 20px;
}

.column2 i {
  color: powderblue;
}

@keyframes comeIn {
  from {padding: 0 30px;}
  to {padding: 0px;}
}

#t1, #t2, #t3, #t4, #t5 {
  margin-bottom: 100px;
}

#t1 {
  padding-top: 60px;
}

.headings {
  animation-name: comeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.content {
  color: inherit;
  font-size: 2rem;
  text-align: left;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.column2 img {
  width: 45vw;
  height: 300px;
  border-radius: 10px;
  border: 3px solid black;
}

#c1, #c2{
  font-weight: bold;
  height: 50px;
  background-color: powderblue;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 10px;
  cursor: pointer;
}

#c1 i, #c2 i {
  color: black;
}

.column3 {
  background-color: black;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  flex: 20%;
  max-width: 20%;
  overflow-y: scroll;
}

.column3 p {
  color: white;
  font-size: 1.7rem;
  text-align: center;
  padding-top: 100px;
}

.column3 img {
  max-width: 500px;
  padding: 40px;
  width: 100%;
  border-radius: 50%;
}

#feedback {
  margin: 0 20vw;
  padding: 40px 20px;
  color: white;
  font-size: 3rem;
}

#feedback p {
  text-align: center;
}

#feedback i {
  color: powderblue;
}

label {
  color: white;
  font-size: 1.5rem;
}

input, textarea {
  color: black;
  height: 30px;
  font-size: 1.5rem;
  width: 100%;
}

textarea {
  height: 150px;
}

#send {
  width: 100px;
  height: 50px;
  background-color: powderblue;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
}

footer {
  padding: 30px 70px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

footer button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: white;
  padding-right: 5px;
  color: black;
  transition-duration: 0.4s;
  cursor: pointer;
}

footer button:hover {
  background-color: black;
  border: 3px solid black;
  color: white;
}

@media screen and (max-width: 474px) {
  .welcomeText {width: 100vw;}
  #name {font-size: 6vw;}
  #intro {font-size: 5vw;}
  #navBar {font-size: 25px;}
  .content {font-size: 15px;}
  .column2, .column3 {flex: 100%;}
  .column1 {width: 0;}
  #feedback {margin: 0 2vw;}
  footer button {width: 60px; height: 60px;}


}
